$base-color: #EC4700;
$bgd-color: #fefced;

.homeCell,
.homeTriangle {
  background-color: $bgd-color;
  border-color: $base-color;
}

.homeTriangle {
  fill: $base-color;
}

.blueCell {
  background-color: $base-color;
  border-color: $base-color;
}

.emptyCell {
  background-color: $bgd-color;
  border-color: $bgd-color;
}


.mainHeading {
  display: flex;
  grid-column: 2 / span 6;
  grid-row: 3 / span 2; // added
  z-index: 100;
  align-items:flex-end;
  h1 {
  font-family: "Glock";
  font-style: normal;
  font-weight: 600;
  font-size: 9vw;
  color: $base-color;
  margin-left: 2vw;
  margin-top: 2.5vw;
  margin-bottom: 0;
  }
}

//all borders
.mainHeading, .subHeading, .filledBoxOne, .filledBoxTwo, .filledBoxThree, .emptyBoxOne, .emptyBoxTwo, .emptyBoxThree,
.imageOne, .imageTwo, .ourStory, .aboutPara, .vertBoxTwo, .vertBoxThree{
  background: $bgd-color;
  border-width: 1px;
  border-style: solid;
  border-color: $base-color;
}


.filledBoxOne{
    grid-column: span 1;
    grid-row: span 2;  
    background-color: $base-color; 
}

.emptyBoxOne{
  grid-column: span 8;
  grid-row: span 1;
  background-color: $bgd-color;
}

.aboutPara{
  grid-column: span 9;
  grid-row: span 4;
  padding-top: 3vw;
  padding-bottom: 3vw;
  padding-left: 5vw;
  padding-right: 10vw;
  p {
    font-family: 'Inter', sans-serif;
    font-weight: 300;
    font-size: 1.3vw;
    margin: 5%;
    color: $base-color;
  }
}

.imageOne{
  grid-column: 3 / span 13;
  grid-row: 4 / span 6;
  background-image: url("../assets/imgs/about1.png");
  background-size: cover;
}

.emptyBoxTwo{
  grid-column: span 1;
  grid-row: span 2;  
  background-color: $bgd-color;
}

.emptyBoxThree{
  grid-column: span 9;
  grid-row: span 3; 
  grid-row-start: 22;
   grid-row-end: 25;
  grid-column-start: 7;
   grid-column-end: 16;
  background-color: $bgd-color;
}

.imageTwo{
  grid-column: span 6;
  grid-row: span 4;
   grid-row-start: 11;
   grid-column-start: 10;
   grid-row-end: 15;
   grid-column-end: 16;
   width: 100%;
   height: 100%;
  background-image: url("../assets/imgs/about2.png");
  background-size: cover;
}

.vertBox{
  grid-column: span 1;
  grid-row: span 6; 
  background-color: $base-color;
  grid-row-start: 10;
  grid-row-end: 16;
  grid-column-start: 14;
  grid-column-end: 15;
  z-index: 100;
  h1{
    width: 4vw;
    writing-mode: vertical-lr;
     text-align: center;
     font-family: 'Inter';
font-style: normal;
font-weight: 500;
 font-size: 5vw;
    color: $bgd-color;
  }
}

.vertBoxTwo{
  grid-column: span 1;
  grid-row: span 6; 
  background-color: $bgd-color;
  grid-row-start: 16;
  grid-column-start: 2;
  grid-row-end: 22;
  grid-column-end: 3;
  z-index: 100;
  //margin: 2vw;
  h1{
    font-size: 5vw;
    width: 4vw;
    color: $base-color;
    writing-mode: vertical-lr;
     text-align: center;
     font-family: 'Inter';
font-style: normal;
font-weight: 500;
  }
}


.imageThree{
  grid-column: 3 / span 6;
  grid-row: 16 / span 5; // TODO: WHY
  grid-column-end: 9;
  background-image: url("../assets/imgs/about3.png");
  background-size: cover;
}

.whatWeDo{
  background-color: $base-color;
  grid-column: span 9;
  grid-row: span 4;
  padding-top: 6vw;
  padding-bottom: 3vw;
  padding-left: 5vw;
  padding-right: 10vw;
  grid-row-start: 18;
   grid-row-end: 22;
  grid-column-start: 7;
   grid-column-end: 16;
  z-index: 100;
  p {
    font-family: 'Inter', sans-serif;
    font-weight: 300;
    font-size: 1.3vw;
    margin: 5%;
    color: $bgd-color;
  }
}

.ourStory{
  grid-row: span 3;
  grid-column: span 13;
  background-color: $bgd-color;
  padding-left: 7vw;
  padding-right: 2vw;
  padding-top: 3vw;
  p {
    font-family: 'Inter', sans-serif;
    font-weight: 300;
    font-size: 1.3vw;
    margin: 5%;
    color: $base-color;
  }
}

.vertBoxThree{
  grid-column: span 1;
  grid-row: span 7; 
  background-color: $bgd-color;
  grid-row-start: 22;
  grid-row-end: 29;
  grid-column-start: 14;
  grid-column-end: 15;
  z-index: 100;
  h1{
    font-size: 5vw;
    width: 4vw;
    writing-mode: vertical-lr;
    text-align: center;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    color: $base-color;
  }
}

.team {
  background-color: $base-color;
  grid-column: span 15;
  grid-row: span 4;
  padding: 1vw;
  text-align: center;
  z-index: 100;
  h1 {
    grid-column: span 5;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 120px;
    margin: 0;
    color: $bgd-color;
  }
}

.committeeLabel {
  grid-column: span 2;
  grid-row: span 7;
  background-color: $base-color;
  z-index: 100;
  height: 22rem;
  
  .committee {
    transform: rotate(180deg);
    writing-mode: vertical-lr;
    font-family: 'Inter';
    padding: 1vw;
    font-style: normal;
    font-weight: 500;
    font-size: 65px;
    color: $bgd-color;
    text-align: right;
  }
}

.committeeSpacer {
  grid-column: span 1;
  grid-row: span 7;
  background-color: $bgd-color;
  z-index: 100;
  line-height: 30px;
  border: 1px solid $base-color;
  max-height: 22rem;
}

.committeeIntro {
  grid-column: span 1;
  grid-row: span 7;
  background-color: $bgd-color;
  z-index: 100;
  line-height: 30px;
  border: 1px solid $base-color;
  color: $base-color;
  height: 22rem;

  .personIntro {
    transform: rotate(180deg);
    writing-mode: vertical-lr;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    margin-top: 2rem;
    font-size: 1.5rem;
    color: $base-color;
  }
}

.profile {
  grid-column: span 2;
  grid-row: span 7;
  background-color: $bgd-color;
  z-index: 100;
  line-height: 30px;
  border: 1px solid $base-color;
  max-height: 15rem;
  // color: $base-color;

  .profileImg {
    grid-column: span 3;
    max-width: 100%;
    height: 15rem;
    display: block;
  }

  .personName {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 1.5rem;
    background-color: $base-color;
    color: $bgd-color;
    padding: 2rem;
    margin: 0;
    height: 7rem;
  }
}

.pastConferences {
  grid-column: span 9;
  grid-row: span 2;
  background-color: $bgd-color;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  text-align: right;
  padding: 3rem 2rem 0 0;

  .redText {
    margin: 0;
    font-size: 4rem;
    color: $base-color;
  }
}

.conference {
  grid-column: span 10;
  background-color: $base-color;
  border: 1px solid $bgd-color;
  color: $bgd-color;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  text-align: left;
  display: flex;
  justify-content: space-between;
  padding: 0.75rem 3rem;

  .year {
    font-size: 3rem;
    margin: 0;
  }

  .title {
    font-size: 3rem;
    margin: 0;
  }

  .blocks {
    font-size: 3rem;
    margin: 0;
  }

  a {
    color: $bgd-color;
  }
}

.introPic {
  grid-column: span 3;
  max-width: 100%;
  height: 15rem;
  display: block;
  background-size: cover;
}