$base-color: #EC4700;
$bgd-color: #fefced;

@font-face {
  font-family: "Glock Grotesque";
  src: url("../assets/fonts/GlockGrotesque-Medium.ttf");
}

@font-face {
  font-family: "Inter";
  src: url("../assets/fonts/Inter-VariableFont_slnt,wght.ttf");
}

.homeCell,
.homeTriangle {
  background-color: $bgd-color;
  border-color: $base-color;
}

.homeTriangle {
  fill: $base-color;
}

.blueCell {
  background-color: $base-color;
  border-color: $base-color;
}

.emptyCell {
  background-color: $bgd-color;
  border-color: $bgd-color;
}


.mainHeading {
  display: flex;
  grid-column: 2 / span 6;
  grid-row: 3 / span 2; // added
  z-index: 100;
  align-items:flex-end;
  h1 {
  font-family: "Glock Grotesque";
  font-style: normal;
  font-weight: 600;
  font-size: 120px;
  //line-height: 178px;
  color: $base-color;
  margin-left: 35px;
  margin-top: 40px;
  margin-bottom: 0;
  }
}

.subHeading {
  grid-column: span 9;
  grid-row: span 1;
  h2 {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 80px;
  line-height: 97px;
  /* identical to box height */
  color: #EC4700;
  margin-left: 120px;
  margin-top: 0;
  margin-bottom: 0;
  }
}

//all borders
.mainHeading, .subHeading, .filledBoxOne, .filledBoxTwo, .filledBoxThree, .emptyBoxOne, .emptyBoxTwo, .emptyBoxThree,
.imageOne, .imageTwo, .imageThree, .influence, .establish, .ourStory, .prevPartners, .aboutPara, .vertBoxTwo, .vertBoxThree{
  background: $bgd-color;
  border-width: 1px;
  border-style: solid;
  border-color: $base-color;
}

.filledBoxOne{
  grid-column: span 6;
  grid-row: span 1;
  background-color: $base-color;
}

.filledBoxTwo{
    grid-column: span 1;
    grid-row: span 2;  
    background-color: $base-color; 
}

.filledBoxThree{
  grid-column: span 2;
  grid-row: span 3;
  background-color: $base-color;
}

.emptyBoxOne{
  grid-column: span 8;
  grid-row: span 1;
  // width: 312px;
  // height: 385px;  
  background-color: $bgd-color;
}

.aboutPara{
  grid-column: span 9;
  grid-row: span 4;
  padding-top: 3vw;
  padding-bottom: 3vw;
  padding-left: 5vw;
  padding-right: 10vw;
  p {
    font-family: 'Inter', sans-serif;
    font-weight: 300;
    font-size: 1.3vw;
    margin: 5%;
    color: $base-color;
  }
}

.imageOne{
  //grid-column: span 13;
  grid-column: 3 / span 13;
  grid-row: 4 / span 6;
  background-image: url("../assets/imgs/about1.png");
  width: 100%;
  height: 100%;
  //align-self:flex-end;
}

.connect{
  grid-column: span 6;
  grid-row: span 4;
  background-color: $base-color;
  h2{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 80px;
    color: $bgd-color;
    margin-left: 10%;
    margin-top: 7%;
    margin-bottom: 0;
  }
  p{
    font-family: 'Inter';
    font-style: normal;
    font-weight: lighter;
    font-size: 25px;
    line-height: 30px;
    color: $bgd-color;
    margin-left: 10%;
    margin-right: 10%;
  }
}

.influence{
  grid-column: span 12;
  grid-row: span 2;
  background-color: $bgd-color;
  display: flex;
  align-items: center;
  h2{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 80px;
    color: $base-color;
    margin-top: 36px;
    margin-left: 100px;
    margin-bottom: 30px;
  }
  p{
    font-family: 'Inter';
    font-style: normal;
    font-size: 25px;
    color: $base-color;
    font-weight: lighter;
       margin-left: 180px;
       margin-right: 150px;
       margin-top: 66px;
       margin-bottom: 30px;
  }
}

.recruit{
  grid-column: span 8;
  grid-row: span 3;
  background-color: $base-color;
  padding-left: 125px;
  padding-bottom: 65px;
  h2{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 80px;
    color: $bgd-color;
    //margin-left: 10%;
    margin-top: 60px;
    margin-bottom: 0;
  }
  p{
    font-family: 'Inter';
    font-style: normal;
    font-size: 25px;
    font-weight: lighter;
    line-height: 30px;
    color: $bgd-color;
    margin-right: 280px;
    font-weight: lighter;
  }
}

.emptyBoxTwo{
  grid-column: span 1;
  grid-row: span 2;  
  background-color: $bgd-color;
}

.emptyBoxThree{
  grid-column: span 9;
  grid-row: span 3; 
  grid-row-start: 22;
   grid-row-end: 25;
  grid-column-start: 7;
   grid-column-end: 16;
  background-color: $bgd-color;
}

.prevPartners{
  grid-column: span 13;
  grid-row: span 1;
  background-color: $bgd-color;
  h2{
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 80px;
  color: $base-color;
  margin-left: 10%;
  margin-bottom: 0;
  margin-top: 0;
  }
}

.imageTwo{
  grid-column: span 6;
  grid-row: span 4;
   grid-row-start: 11;
   grid-column-start: 10;
   grid-row-end: 15;
   grid-column-end: 16;
   width: 100%;
   height: 100%;
  background-image: url("../assets/imgs/about2.png");
}

.vertBox{
  grid-column: span 1;
  grid-row: span 6; 
  background-color: $base-color;
  grid-row-start: 10;
  grid-row-end: 16;
  grid-column-start: 14;
  grid-column-end: 15;
  z-index: 100;
  //margin: 2vw;
  h1{
    font-size: 50px;
    width: 4vw;
    writing-mode: vertical-lr;
     text-align: center;
     font-family: 'Inter';
font-style: normal;
font-weight: 500;
font-size: 70px;
    color: $bgd-color;
  }
}

.vertBoxTwo{
  grid-column: span 1;
  grid-row: span 6; 
  background-color: $bgd-color;
  grid-row-start: 16;
  grid-column-start: 2;
  grid-row-end: 22;
  grid-column-end: 3;
  z-index: 100;
  //margin: 2vw;
  h1{
    font-size: 50px;
    width: 4vw;
    color: $base-color;
    writing-mode: vertical-lr;
    //transform: rotate(180deg);
     text-align: center;
     font-family: 'Inter';
font-style: normal;
font-weight: 500;
font-size: 70px;
  }
}


.imageThree{
  grid-column: 3 / span 6;
  grid-row: 16 / span 5; // TODO: WHY
  // grid-column-start: 3;
  // grid-row-start: 16;
  //grid-row-end: 21;
  grid-column-end: 9;
  background-image: url("../assets/imgs/about3.png");
}

.whatWeDo{
  background-color: $base-color;
  grid-column: span 9;
  grid-row: span 4;
  padding-top: 6vw;
  padding-bottom: 3vw;
  padding-left: 5vw;
  padding-right: 10vw;
  grid-row-start: 18;
   grid-row-end: 22;
  grid-column-start: 7;
   grid-column-end: 16;
  z-index: 100;
  p {
    font-family: 'Inter', sans-serif;
    font-weight: 300;
    font-size: 1.3vw;
    margin: 5%;
    color: $bgd-color;
  }
}

.ourStory{
  grid-row: span 3;
  grid-column: span 13;
  background-color: $bgd-color;
  padding-left: 7vw;
  padding-right: 2vw;
  padding-top: 3vw;
  p {
    font-family: 'Inter', sans-serif;
    font-weight: 300;
    font-size: 1.3vw;
    margin: 5%;
    color: $base-color;
  }
}

.vertBoxThree{
  grid-column: span 1;
  grid-row: span 7; 
  background-color: $bgd-color;
  grid-row-start: 22;
  grid-row-end: 29;
  grid-column-start: 14;
  grid-column-end: 15;
  z-index: 100;
  h1{
    font-size: 50px;
    width: 4vw;
    writing-mode: vertical-lr;
    text-align: center;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 70px;
    color: $base-color;
  }
}

.team {
  background-color: $base-color;
  grid-column: span 15;
  grid-row: span 4;
  padding: 1vw;
  text-align: center;
  // grid-row-start: 18;
  //  grid-row-end: 22;
  // grid-column-start: 7;
  //  grid-column-end: 16;
  z-index: 100;
  h1 {
    grid-column: span 5;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 120px;
    margin: 0;
    color: $bgd-color;
  }
}

.committeeLabel {
  grid-column: span 2;
  grid-row: span 7;
  background-color: $base-color;
  z-index: 100;
  
  .committee {
    transform: rotate(180deg);
    writing-mode: vertical-lr;
    font-family: 'Inter';
    padding: 1vw;
    font-style: normal;
    font-weight: 500;
    font-size: 70px;
    color: $bgd-color;
  }
}

.committeeSpacer {
  grid-column: span 1;
  grid-row: span 7;
  background-color: $bgd-color;
  z-index: 100;
  line-height: 30px;
  border: 2px solid $base-color;
}

.committeeIntro {
  grid-column: span 1;
  grid-row: span 7;
  background-color: $bgd-color;
  z-index: 100;
  line-height: 30px;
  border: 1px solid $base-color;
  color: $base-color;

  .personIntro {
    transform: rotate(180deg);
    writing-mode: vertical-lr;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    margin-top: 2rem;
    font-size: 1.5rem;
    color: $base-color;
  }
}

.profile {
  grid-column: span 3;
  grid-row: span 7;
  background-color: $bgd-color;
  z-index: 100;
  line-height: 30px;
  border: 1px solid $base-color;
  // color: $base-color;

  .profileImg {
    grid-column: span 3;
    max-width: 100%;
    height: 74.5%;
    display: block;
  }

  .personName {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 1.5rem;
    background-color: $base-color;
    color: $bgd-color;
    padding: 2rem;
    margin: 0;
  }
}