.homeCell,
.whyReframe,
.goal,
.bigTriangle,
.context,
.how,
.applications {
  background-color: #fefced;
  border-color: #2d2ff5;
}

.whyReframe,
.goal,
.context,
.how,
.applications {
  border-width: 1px;
  border-style: solid;
  overflow: hidden;
}

.whyReframe {
  grid-column: span 12;
  h2 {
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    font-size: 5vw;
    margin: 0 25%;
    color: #2d2ff5;
  }
}

.decorativeFigure {
  grid-column: span 2;
  grid-row: span 2;
}

.goal {
  grid-column: span 6;
  grid-row: span 2;
  p {
    font-family: 'Inter', sans-serif;
    font-weight: 300;
    font-size: 1.3vw;
    margin: 5%;
    color: #2d2ff5;
  }
}

.bigTriangle {
  fill: #2d2ff5;
  grid-column: span 2;
  grid-row: span 2;
}

.bigCell {
  background-color: #2d2ff5;
  border-color: #2d2ff5;
  grid-column: span 2;
  grid-row: span 2;
}

.blueCell {
  background-color: #2d2ff5;
  border-color: #2d2ff5;
}

.context {
  grid-column: span 12;
  grid-row: span 4;
  p {
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    font-size: 3.2vw;
    margin: 7.5vw 12vw 7.5vw 4vw;
    text-align: right;
    color: #2d2ff5;
  }
}

.how {
  grid-column: span 8;
  grid-row: span 5;
  h2 {
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    font-size: 3.2vw;
    margin: 3.3vw;
    color: #2d2ff5;
  }
  p {
    font-family: 'Inter', sans-serif;
    font-weight: 300;
    font-size: 1.3vw;
    margin: 2.6vw 10vw 2.6vw 3.3vw;
    color: #2d2ff5;
  }
}

.applications {
  grid-column: span 7;
  grid-row: span 2;
  p {
    font-family: 'Inter', sans-serif;
    font-weight: 300;
    font-size: 1.3vw;
    margin: 2.6vw 3.6vw;
    color: #2d2ff5;
    text-align: right;
  }
}

.spline {
  // position: absolute;
  background-image: url(../assets/grid.svg);
  background-repeat: repeat-y;
}

// .splineContainer {
//   position: relative;
//   overflow: hidden;
// }
