.grid {
  display: grid;
  grid-template-columns: repeat(15, 1fr);
}

.mobileGrid {
  display: grid;
  grid-template-columns: repeat(9, 1fr);
}

.cell,
.triangle
.diagonalCell {
  border-width: 0.075vw;
  border-style: solid;
  aspect-ratio: 1;
}

.blueCell {
  background-color: #2d2ff5;
  border-color: #2d2ff5;
}

.homeCell {
  background-color: #fefced;
  border-color: #2d2ff5;
}

.blueOutlinedCell {
  background-color: #2d2ff5;
  border-color: #fefced;
}